{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}{% translate 'Login' %}{% endblock %}

{% block bootstrap5_content %}
  <div class="container">
    {% bootstrap_messages %}
    <div class="col-12">
      
    </div>
    <h3 class="mt-5">Добро пожаловать на сайт</h3>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% bootstrap_button button_type="submit" content="Войти" %}
      {% bootstrap_button button_type="reset" content="Отменить" %}
    </form>

    <div class="row">
      <div class="col-12 mt-1 p-0">
        <a href="{% url 'signup' %}" class="link-info btn">Регистрация нового пользователя</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-1 p-0">
        <a href="{% url 'password_reset' %}" class="link-info btn">Забыли пароль?</a>
      </div>
    </div>
  </div>
{% endblock %}